<footer>
  <div class="footer-content">
      <p>Copyright &copy; 2025 Bedrock Commands Community (BCC)</p>
      <p>"Minecraft" is a trademark of Mojang AB.<br>
      BCC is not affiliated in any way with Microsoft or Mojang AB.</p>
      <div class="social-icons">
        <a href="https://youtube.com/@bccommunity" target="_blank" class="fab fa-youtube"></a>
        <a href="https://github.com/BedrockCommands" target="_blank" class="fab fa-github"></a>
        <a href="https://discord.gg/invite/bedrock-commands-community-924894457894174740" target="_blank" class="fab fa-discord"></a>
    </div>    
  </div>
</footer>
