<header>
    <nav>
        <div class="menu-container">
            <button class="menu-toggle" onclick="toggleMenu()">
                <span id="menu-icon">☰</span>
            </button>
            <a href="/" class="home-link">
                <img src="/assets/images/home-icon.png" alt="Home" class="home-icon">
            </a>
        </div>
        <ul id="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/banners">Banners</a></li>
            <li class="events">
                <span>Events</span>
                <ul class="sub-menu">
                    <li><a href="/events/jams">Jams</a></li>
                    <li><a href="/events/game-nights">Game Nights</a></li>
                    <li><a href="/events/map-making">Map Making</a></li>
                </ul>
            </li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/resources/">Resources</a></li>
        </ul>
    </nav>
</header>