.command-card {
    background-color: #000000;
    border: 2px solid #646464;
    border-radius: 8px;
    padding: 15px;
    margin: 25px 0;
    color: #fff;
    font-family: sans-serif;
}
  
.command-box {
    position: relative;
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-family: monospace;
    overflow-x:visible;
}

.command-box code {
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: break-word;
    color: #66ffcf;
    font-size: 16px;
    padding: 34px 10px 9px 10px;
  }  
  
  .command-box code.no-wrap {
    white-space: pre;
    word-break: normal;
    overflow-wrap: normal;
    overflow-x: auto;
    display: block;
  }  

.command-box code.no-wrap.folder {
    color: #ffff8d;
}

.command-box code.no-wrap.file {
    color: #b7e6ff;
}

.command-box code.no-wrap.folder::before {
    content: "📁 ";
    pointer-events: none;
    user-select: none;
}

.command-box code.no-wrap.file::before {
    content: "📄 ";
    pointer-events: none;
    user-select: none;
}


.command-box code.no-wrap::-webkit-scrollbar {
    height: 6px;
}
.command-box code.no-wrap::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
}

.copy-button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 1;
}
  
.copy-button:hover {
    background: #555;
}

.command-card p {
    padding-top: 0px;
}