.tags {
    display: flex;
    flex-flow: wrap;
    gap: 4px;
    position: relative;
    top: -8px; /* Moves it **above** the image */
}

.tag {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 7px;
    font-family: "Minecraft Regular", monospace;
    border: 2px solid #ffae00;
    height: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
}






.tag.first-place {
    background-color: #FFD700; /* Gold */
    border: 2px solid #B8860B;
    color: #000000;
}

.tag.second-place {
    background-color: #C0C0C0; /* Silver */
    color: #000000;
    border: 2px solid #808080;
    color: #000000;
}

.tag.third-place {
    background-color: #CD7F32; /* Bronze */
    border: 2px solid #8B4513;
    color: #000000;
}

.rank-tags {
    display: block;
    justify-content: center;
    padding-right: 1rem;
    padding-top: 3px;
}

.rank-tags .tag {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    text-shadow:
    -2px -2px 0 #ffffff,  
    2px -2px 0 #ffffff,  
   -2px  2px 0 #ffffff,  
    2px  2px 0 #ffffff,
   -2px  0px 0 #ffffff,  
    2px  0px 0 #ffffff,  
    0px -2px 0 #ffffff,  
    0px  2px 0 #ffffff;
}








body[data-path^="/resources"] .tags {
    margin-top: 30px;
}

body[data-path^="/resources"] .tag {
    border: 2px solid #85b6ff;
}