@import url('header.css');
@import url('footer.css');
@import url('navigation-menu.css');
@import url('page-content.css');
@import url('card.css');
@import url('filters.css');
@import url('tags.css');
@import url('mc-commands.css');
@import url('mobile.css');

/* Ensure the container takes at least the full viewport height */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: 'Minecraft Ten';
    src: url('assets/fonts/MinecraftTen-VGORe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft Regular';
    src: url('assets/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}